/*
    left: 10%; 

*/

div#error_box {
    position: fixed; 
    top: 10%; 
    left: 20%;
    z-index: 100; 
    width: 60%; 
    display: none;
    font-size: 0.8em;
    background-color: red;
    color: black;
    border-width: 5px;
    border-style: solid;
    border-color : yellow;
    padding : 10px;
}
button {
  background-color: yellow;
  height: 2em;
  font-weight: bold;
  border-radius: 20%;
  border: 2px solid #555555;
}
div#container {
  overflow: auto;
  width: 90vw;
}

div#container div > span:nth-of-type(1) {
  float: left;
  width: 60%
}
div#container div > span:nth-of-type(2) {
  float: right;
}
div#container div,hr {
  clear: both;
}

div.api-switcher {
  font-size: 0.7em;
}
body {
        font-family: 'Raleway', sans-serif;
        background-color: black;
        color: white;
        font-size: 5.4vw;
}
@media screen and (min-width: 640px) and (min-height: 400px) {
  body {
    font-size: 30px;
  }
  div#container {
    width: 640px;
  }
}
.important {
  font-size: 1.4em;
}
div#center {
 /* can also be whatever container */
  min-height:90vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
sup#l_temp_unit {
  vertical-align: super;
  font-size: smaller;
}
a {
   outline: 0;
   text-decoration: none;
}
a:link {
  opacity: 0.6;
  color : white;
}

a:hover, a:active, a:focus{
  opacity: 1;
  color: white;
}

