div#position_trace {
    position: fixed;
    bottom: 0px;
    font-size: 0.7em;
}
div#position_error {
    position: fixed; 
    left: 10%; 
    top: 10%; 
    z-index: 100; 
    width: 80%; 
    display: none;
    font-size: 0.7em;
    background-color: red;
    font-color: white;
    border-width: 5px;
    border-style: solid;
    border-color : yellow;
    margin: 5px;
    padding : 10px;
}
div#container {
  overflow: auto;
  width: 90vw;
}
div.main {
  float: right;
}
div.additional div span:nth-of-type(1) {
  float: left;
}
div.additional div span:nth-of-type(2) {
  float: right;
}
div.additional div {
  clear: both;
}
div.api-switcher {
  font-size: 0.7em;
}
body {
        font-family: 'Raleway', sans-serif;
        background-color: black;
        color: white;
        font-size: 4.0vw;
}
@media screen and (min-width: 640px) and (min-height: 400px) {
  body {
    font-size: 30px;
  }
  div#container {
    width: 640px;
  }
}
.important {
  font-size: 1.7em;
}
div#center {
 /* can also be whatever container */
  min-height:90vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
div#l_clouds {
  clear: both;
}
sup#l_temp_unit {
  vertical-align: super;
  font-size: smaller;
}
a {
   outline: 0;
   text-decoration: none;
}
a:link {
  opacity: 0.6;
  color : white;
}

a:hover, a:active, a:focus{
  opacity: 1;
  color: white;
}

